.container-all-results{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}
.title-total-score{
    font-size: 1.5rem;
    width: 100%;
    margin-inline: 3rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
    color: whitesmoke;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.011642156862745057) 0%, rgb(0, 0, 0) 48%, rgba(255,255,255,0) 100%);
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-top: 4px solid linear-gradient(90deg, rgba(255,255,255,0.011642156862745057) 0%, rgb(0, 0, 0) 48%, rgba(255,255,255,0) 100%);;
    border-bottom:4px solid linear-gradient(90deg, rgba(255,255,255,0.011642156862745057) 0%, rgb(18, 0, 100) 48%, rgba(255,255,255,0) 100%);; ;
}
.title-fixture-in-procces{
    display: flex;
    padding: 3rem;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.userResult-containerFixtureInProgress{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userResults-btnSeePreviousResults{
    width: 200px;
    cursor: pointer;
    background-color: rgb(32, 163, 91);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: inherit;
    margin-bottom: 2rem;

}
