.container__matchInfo{
    display: flex;
    width: 380px;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.705);
    padding: 5px 10px;
    border-radius: 10px;
    color:rgba(59,89,152,1);
    border: 1px solid;
}
.container__matchInfo:first-child>div{
    width: 100%;
}
.pronostico__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.container__card{
    background-color: rgb(189, 198, 201);
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .7rem;
    gap: .5rem;
    border: solid 1px;
    padding: .5rem;
    border-radius: 10px;
}
.container__matchInfo__teams{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2px 20px;
    background-color: rgba(59,89,152,1);
    color: whitesmoke;
    border-radius: 5px;
}
.logo__team{
    width: 20px;
    height: 20px;
}
.pronostico__select, .pronostico__select>option{
    cursor: pointer;
    padding: .3rem;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    color: white;
    background-color: rgba(59,89,152,1);
    font-size: inherit;
    overflow:hidden;
}
.pronostico__select:hover{
    background-color: rgb(29, 67, 148);

}
.container__inputResultados{
    display: flex;  
    justify-content: center;
    gap: .5rem;
}
.inputResultados{
    background-color: rgba(250, 235, 215, 0.705);
    width: 30px;
    text-align: center;
    padding: 2px;
    border: solid 1px;
    border-radius: 3px;
}
.btn__pronostico{
    width: 60px;
    cursor: pointer;
    background-color: rgba(59,89,152,1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: inherit;
}
.btn__pronostico:hover{
    background-color: rgb(29, 67, 148);

}
.pronostico__container{}
@media (min-width:780px){
    .container__card{
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 2rem;
    font-size: 1rem;
}
.logo__team{
    width: 30px;
    height: 30px;
}
.pronostico__select, .pronostico__select>option{
    width: 200px;
    height: 2.6rem;
}
.container__matchInfo{
    width: 550px;
}
}