.userInfo-prode-title{
    padding:0  1rem .5rem 1rem;
    text-align: center;
}
.container__allMatches{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.btn__save-prode-db{
    width: 200px;
    cursor: pointer;
    background-color: rgb(32, 163, 91);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: inherit;
    margin-bottom: 2rem;
}
@media (min-width:1400px){
.container__allMatches{
    gap: 1rem;
}
}