.header-container{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(37,27,204,1) 0%, rgba(105,105,207,1) 32%, rgba(0,179,184,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}