.header-container{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(37,27,204,1) 0%, rgba(105,105,207,1) 32%, rgba(0,179,184,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 2rem;
}
.header-logo{
    width: 50px;
    border-radius: 10px;
}

.header-linksContainer{
    display: flex;
    gap: .8rem;
    font-weight: bolder;
    color: gainsboro;
    font-size: .9rem;
}
.header-linksContainer>a:hover{
    cursor: pointer;
    color: blue;
    transition-delay: .1s;
}
@media (min-width:780px){
    .header-container{
        padding-right: 3rem;
    }
    .header-linksContainer{
        gap: 2rem;
        font-size: 1.1rem;
    }
}
@media (min-width:1230px){
    .header-container{
        padding-right: 3rem;
    }
    .header-linksContainer{
        gap: 4rem;
    }
}